body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	color: white;
	font-size: 3rem;
}

hr {
	border-color: orange;
	max-width: 65px;
	border-width: 3px;
}

.btn {
	background-color: orange;
	border-color: orange;
	border-radius: 300px;
	padding: 1rem 2rem;
	font-weight: 700;
	position: center;
}

.btn:hover {
	background-color: darkorange;
	border-color: darkorange;
	border-width: 4px;
}

.buffer {
	height: 10rem;
}